bin
bin/*
obj
obj/*
/BuskLanche/.vs
/BuskLanche/.vs/*
/BuskLanche/BuskLanche.WebUI/ApplicationInsights.config
/BuskLanche/BuskLanche.Models/BuskLanche.Models.csproj.user
/BuskLanche/BuskLanche.DataAccess/BuskLanche.DataAccess.csproj.user
/BuskLanche/BuskLanche.WebUI/BuskLanche.WebUI.csproj.user
/BuskLanche/BuskLanche.WebUI/bin
/BuskLanche/BuskLanche.WebUI/bin/*
/BuskLanche/BuskLanche.WebUI/bin/Debug
/BuskLanche/BuskLanche.WebUI/bin/Debug/*.dll
/BuskLanche/BuskLanche.WebUI/bin/Release
/BuskLanche/BuskLanche.WebUI/obj
/BuskLanche/BuskLanche.WebUI/obj/*
/BuskLanche/BuskLanche.Models/bin
/BuskLanche/BuskLanche.Models/bin/*
/BuskLanche/BuskLanche.Models/obj
/BuskLanche/BuskLanche.Models/obj/*
/BuskLanche/BuskLanche.DataAccess/bin
/BuskLanche/BuskLanche.DataAccess/bin/Debug/*.dll
/BuskLanche/BuskLanche.DataAccess/bin/Debug/*.pdb
/BuskLanche/BuskLanche.DataAccess/bin/Release/*
/BuskLanche/BuskLanche.DataAccess/bin/Release/*.dll
/BuskLanche/BuskLanche.DataAccess/bin/Release/*.pdb
/BuskLanche/BuskLanche.DataAccess/obj
/BuskLanche/BuskLanche.DataAccess/obj/*
/BuskLanche/BuskLanche.WebUI/*.user
/BuskLanche/BuskLanche.Models/*.user
/BuskLanche/BuskLanche.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
BuskLanche.DataAccess.csproj.user
*.user
.vs
